// Imports
  //Variables
  @import './variables.scss';

  // Fonts

  
* {
  margin: 5px;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}

.flex-container {
  display: flex;
  border: 1px solid red;
}

.grid-container {
  display: grid;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 5px;
}

.left-side {
  padding: 5px;
  border: 1px solid blue;
  flex-direction: column;
}

.top-area {
  padding: 5px;
  border: 1px solid red;
  justify-content: space-around;
}

.top-area__counter {
  border: 1px solid black;
  width: $counter-width;
  height: $counter-height;
  line-height: $counter-height;
  text-align: center;
  background-color: $counter-background-colour;
}

.top-area__button {
  width: $button-width;
  height: $button-height;
  margin: auto;
  border: 1px solid black;
  line-height: $button-height;
  text-align: center;
  background-color: $button-background-colour;
}

.top-area__button:hover {
  cursor: pointer;
}
.game-area {
  padding: 5px;
  border: 1px solid purple;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

.mine {
  width: $mine-cell-width;
  height: $mine-cell-height;
  border: 1px solid darkgrey;
  border-style: inset;
  background-color: $mine-cell-background-colour;
}

.mine:hover {
  cursor: pointer;
}

.right-side {
  padding: 5px;
  border: 1px solid green;
  flex-direction: column;
}

.game-size {
  padding: 5px;
  border: 1px solid red;
}

.difficulty {
  padding: 5px;
  border: 1px solid magenta;
}
