// Imports
  //Variables
  @import './variables.scss';

  // Fonts

  
* {
  margin: 5px;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}

.flex-container {
  display: flex;
  // border: 1px solid red;
}

.grid-container {
  display: grid;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 5px;
  border: $mine-cell-background-colour 5px solid;
  border-radius: 20px;
}

.left-side {
  padding: 5px;
  //border: 1px solid blue;
  flex-direction: column;
}

.top-area {
  padding: 5px;
  //border: 1px solid red;
  justify-content: space-around;
}

.top-area__counter {
  border: 1px solid black;
  border-radius: 15px;
  width: $counter-width;
  height: $counter-height;
  line-height: $counter-height;
  text-align: center;
  background-color: $counter-background-colour;
}

.top-area__button {
  width: $button-width;
  height: $button-height;
  margin: auto;
  border: 1px solid black;
  border-radius: $button-height;
  line-height: $button-height;
  text-align: center;
  background-color: $button-background-colour;
}

.top-area__button:hover {
  cursor: pointer;
}
.game-area {
  padding: 0px;
  border: 5px solid black;
  border-radius: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.game-area__mine {
  width: $mine-cell-width;
  height: $mine-cell-height;
  line-height: $mine-cell-height;
  padding: 0;
  margin: 0;
  text-align: center;
  border: 1px solid darkgrey;
  border-style: inset;
  background-color: $mine-cell-background-colour;
  position: relative;
  }

.game-area__mine:hover {
  cursor: pointer;
}

.fa-flag {
  color: red;
  position: absolute;
  left: 10px;
  top: 10px;
  visibility: $mine-cell-items-visibilty;
}

.fa-bomb {
  position: absolute;
  left: 10px;
  top: 10px;
  visibility: $mine-cell-items-visibilty;
}

.mineNumber {
  position: absolute;
  height: 26px;
  width: 26px;
  left: 0px;
  bottom: 10px;
  // background-color: $mine-cell-background-colour-clear;
  visibility: $mine-cell-items-visibilty;
  color: black;
}

.right-side {
  padding: 0px;
  width: 170px;
  //border: 1px solid green;
  flex-direction: column;
  justify-content: space-around;
}

.game-size {
  padding: px;
  border: 1px solid $border-colors-dark;
  border-radius: 15px;
}


.difficulty {
  padding: 5px;
  border: 1px solid $border-colors-dark;
  border-radius: 15px;
}

.highlightChange {
  color: $waiting-to-apply-colour;
}