* {
  margin: 5px;
  padding: 5px;
  font-family: "Roboto", sans-serif;
}

.flex-container {
  display: flex;
}

.grid-container {
  display: grid;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  border: grey 5px solid;
  border-radius: 20px;
}

.left-side {
  padding: 5px;
  flex-direction: column;
}

.top-area {
  padding: 5px;
  justify-content: space-around;
}

.top-area__counter {
  border: 1px solid black;
  border-radius: 15px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: lightgrey;
}

.top-area__button {
  width: 100px;
  height: 50px;
  margin: auto;
  border: 1px solid black;
  border-radius: 50px;
  line-height: 50px;
  text-align: center;
  background-color: yellow;
}

.top-area__button:hover {
  cursor: pointer;
}

.game-area {
  padding: 0px;
  border: 5px solid black;
  border-radius: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.game-area__mine {
  width: 50px;
  height: 50px;
  line-height: 50px;
  padding: 0;
  margin: 0;
  text-align: center;
  border: 1px solid darkgrey;
  border-style: inset;
  background-color: grey;
  position: relative;
}

.game-area__mine:hover {
  cursor: pointer;
}

.fa-flag {
  color: red;
  position: absolute;
  left: 10px;
  top: 10px;
  visibility: hidden;
}

.fa-bomb {
  position: absolute;
  left: 10px;
  top: 10px;
  visibility: hidden;
}

.mineNumber {
  position: absolute;
  height: 26px;
  width: 26px;
  left: 0px;
  bottom: 10px;
  visibility: hidden;
  color: green;
}

.right-side {
  padding: 0px;
  width: 170px;
  flex-direction: column;
  justify-content: space-around;
}

.game-size {
  padding: px;
  border: 1px solid black;
  border-radius: 15px;
}

.difficulty {
  padding: 5px;
  border: 1px solid black;
  border-radius: 15px;
}

.highlightChange {
  color: yellow;
}