// Mine box sizes
$standard-size: 50px;
$border-colors-dark: black;

$counter-height: $standard-size;
$counter-width: $standard-size;
$counter-background-colour: lightgrey;

$button-height: $standard-size;
$button-width: $standard-size * 2;
$button-background-colour: yellow;


$mine-cell-height: $standard-size;
$mine-cell-width: $standard-size;
$mine-cell-background-colour: grey;

$waiting-to-apply-colour: yellow;
